@media screen and (max-width: 1320px) {
    header{
        padding: 24px 60px;
    }
    header li:first-of-type {
        margin-right: 25px;
    }
    header li {
        margin-right: 20px;
    }
    header li:nth-child(4) {
        margin-right: 20px;
    }
    header li:last-of-type {
        margin-right: 0px;
    }

}
@media screen and (max-width: 1199px) {
    .past_clients{
        padding-right: 55px;
        padding-left: 55px;
    }
    .what_we_do {
        padding: 60px 15px 50px 15px;

    }
}

@media screen and (max-width: 880px) {
    header{
        padding: 24px 50px;
    }
    header li:first-of-type {
        margin-right: 15px;
    }
    header li {
        margin-right: 10px;
    }
    header li:nth-child(4) {
        margin-right: 10px;
    }
    header li:last-of-type {
        margin-right: 0px;
        padding: 10px 10px 10px 10px;
    }
    .section_main {
        height: 90vh;
    }

}


@media screen and (max-width: 834px) {

}

@media screen and (max-width: 820px) {

}

@media screen and (max-width: 783px) {
    header li:first-of-type {
        display: none;
    }

}
@media screen and (max-width: 680px) {
    header li {
        display: none;
    }
    header li:last-of-type {
        display: inline-block;
    }
    .section_main__central_conteiner p{
        margin-right: 15px;
        margin-left: 15px;
    }

}
@media screen and (max-width: 428px) {
    .section_main__central_conteiner p{

        font: 12px/16px 'poppinsregular';
    }
    .what_we_do {
        padding: 60px 15px 50px 15px;

    }
    header li:last-of-type {
        display: none;
    }
    .list_box {
        display: block;
        justify-content: left;
    }
    .list_box ul {
        margin-bottom: 30px;
        max-width: 150px;
    }
    .list_box ul li a{
        font: 12px/16px 'poppinsregular';
    }
    .list_box ul li {
        margin-bottom: 5px;
    }
    .fixed_information {
        bottom: calc(5% - 8px);
        right: calc(50% - 108px);
    }
    .fixed_information li {
        font: 10px/10px 'poppinsregular';
        margin-left: 10px;
    }
    .fixed_information li:before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fixed_information li:nth-child(2):before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fixed_information li:nth-child(3):before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fixed_information li:last-of-type:before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fuji .fixed_information{
        bottom: calc(5% - 8px);
        right: calc(50% - 94px);
    }
    .leafs .fixed_information{
        bottom: calc(5% - 8px);
        right: calc(50% - 118px);
    }
    .himalayas .fixed_information{
        bottom: calc(5% - 8px);
        right: calc(50% - 92px);
    }
    .past_clients{
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 414px) {

}


@media screen and (max-width: 390px) {
    .section_main {
        height: 85vh;
    }
    .section_main__central_conteiner h1 {
        font: 36px/38px 'poppinsregular';
        margin-bottom: 15px;
    }
    .section_main__central_conteiner h3 {
        font: 12px/18px 'poppinsregular';

    }
    .what_we_do h2 {
        font: 36px/38px 'poppinsregular';
    }
    .past_clients h2 {
        font: 36px/38px 'poppinsregular';
    }
    .past_clients h3 {
        font: 20px/26px 'poppinsregular';
        max-width: 300px;
        margin: auto;
    }
}


@media screen and (max-width: 375px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}
