@media screen and (max-width: 1320px) {
    /*header{*/
    /*    padding: 24px 60px;*/
    /*}*/
    /*header li:first-of-type {*/
    /*    margin-right: 25px;*/
    /*}*/
    /*header li {*/
    /*    margin-right: 20px;*/
    /*}*/
    /*header li:nth-child(4) {*/
    /*    margin-right: 20px;*/
    /*}*/
    /*header li:last-of-type {*/
    /*    margin-right: 0px;*/
    /*}*/
    footer,.tools {
        padding-left: 50px;
        padding-right: 50px;
    }
    .section_main{
        background-attachment: scroll;
    }
    .fuji {
        background-attachment: scroll;
    }
    .leafs {
        background-attachment: scroll;
    }
    .himalayas {
        background-attachment: scroll;
    }

}
@media screen and (max-width: 1199px) {
    .past_clients{
        padding-right: 55px;
        padding-left: 55px;
    }
    .what_we_do {
        padding: 60px 15px 50px 15px;

    }
    .list_box {
        margin-left: 100px;
    }
    .central_box{
        margin: inherit;
        width: calc(50% - 20px);

    }
    .d-flex{
        gap: 10px;
    }
    .what_we_do .preview {
        max-width: calc(576px - 15%);
        max-height: calc(600px - 15%);
    }



}
@media screen and (max-width: 925px) {

    .what_we_do .preview {
        max-width: calc(576px - 25%);
        max-height: calc(600px - 25%);
    }

}

@media screen and (max-width: 880px) {
    header{
        padding: 25px;
    }
    header li:first-of-type {
        margin-right: 20px;
    }
    header li {
        margin-right: 20px;
    }
    header li:nth-child(4) {
        margin-right: 20px;
    }
    header li:last-of-type {
        margin-right: 0px;
        padding: 10px 10px 10px 10px;
    }
    .section_main {
        height: 90vh;
    }
    .list_box {
        display: block;
        justify-content: left;
        margin-left: 100px;
    }
    .list_box ul {
        margin-bottom: 30px;

    }

}


@media screen and (max-width: 834px) {
    .subscribe_box{
        display: block;
    }
    .subscribe_box p {
        margin-bottom: 20px;
    }
    .subscribe_box h3{
        margin-bottom: 10px;
    }


}
@media screen and (max-width: 804px) {

    .what_we_do .preview {
        max-width: calc(576px - 30%);
        max-height: calc(600px - 30%);
    }

}


@media screen and (max-width: 768px) {

    .what_we_do .preview {
        max-width: 576px;
        max-height: 600px;
    }

}
@media screen and (max-width: 680px) {
    /*header li {*/
    /*    !*display: none;*!*/
    /*}*/
    /*header li:last-of-type {*/
    /*    display: inline-block;*/
    /*}*/
    .section_main{
        padding-right: 15px;
        padding-left: 15px;
    }

    .section_main__central_conteiner p{
        margin-right: 15px;
        margin-left: 15px;
    }
    .list_box {
        margin-left: 15px;
    }
    footer,.tools{
        padding-left: 25px;
        padding-right: 25px;
    }
    .section_help{
        padding-right: 15px;
        padding-left: 15px;
    }
    .section_main{
        background-image: url("../images/background_main_mob.jpg");
    }
    .fuji {
        background-image: url('../images/bg-fuji.webp');
    }
    .leafs {
        background-image: url('../images/bg-leafs.webp');

    }
    .himalayas {
        background-image: url('../images/bg-himalayas.webp');

    }
    .tools .bg_tools {
        background-image: url("../images/bg-sweden.webp");
    }


    .tools{
        padding-left: 45px;
        padding-right: 25px;
    }



}
@media screen and (max-width: 577px) {
    .list_box {
        width: 219px;

    }
    .social_box {
        display: block;
        text-align: center;
    }
    .social_items{
        justify-content: center;
    }
    .social_box p{
        margin-bottom: 25px;
    }
    nav{
        width: 100%;
    }


}
@media screen and (max-width: 428px) {
    .section_main__central_conteiner p{

        font: 12px/16px 'poppinsregular';
    }
    .what_we_do {
        padding: 60px 10px 50px 10px;

    }



    /*header li:last-of-type {*/
    /*    display: none;*/
    /*}*/
    /*header .c_box{*/
    /*    justify-content: center;*/
    /*}*/
    .list_box {
        display: block;
        justify-content: left;
    }
    .list_box ul {
        margin-bottom: 30px;
        max-width: 150px;
    }
    .list_box ul li a{
        font: 12px/16px 'poppinsregular';
    }
    .list_box ul li {
        margin-bottom: 5px;
    }
    .fixed_information {
        bottom: calc(5% - 8px);
        right: calc(50% - 108px);
    }
    .fixed_information li {
        font: 10px/10px 'poppinsregular';
        margin-left: 10px;
    }
    .fixed_information li:before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fixed_information li:nth-child(2):before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fixed_information li:nth-child(3):before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fixed_information li:last-of-type:before {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
    }
    .fuji .fixed_information{
        bottom: calc(5% - 8px);
        right: calc(50% - 94px);
    }
    .leafs .fixed_information{
        bottom: calc(5% - 8px);
        right: calc(50% - 118px);
    }
    .himalayas .fixed_information{
        bottom: calc(5% - 8px);
        right: calc(50% - 92px);
    }
    .past_clients{
        padding-right: 25px;
        padding-left: 25px;
    }
    .tools .central_box p {
        font: 12px/16px 'poppinsregular';
    }
    .tools h3{
        font: 12px/16px 'poppinsregular';
    }
    .tools h2 {
        font: 24px/28px 'poppinsregular';
    }
}


@media screen and (max-width: 390px) {
    .section_main {
        height: 85vh;
    }
    .section_main__central_conteiner h1 {
        font: 36px/38px 'poppinsregular';
        margin-bottom: 15px;
    }
    .section_main__central_conteiner h3 {
        font: 12px/18px 'poppinsregular';

    }
    .what_we_do h2 {
        font: 36px/38px 'poppinsregular';
    }
    .past_clients h2 {
        font: 36px/38px 'poppinsregular';
    }
    .past_clients h3 {
        font: 20px/26px 'poppinsregular';
        max-width: 300px;
        margin-bottom: 82px;
        display: inline-block;
    }
    .section_help h2 {
        font: 36px/38px 'poppinsregular';

    }
    .preview .description p {
        font: 12px/16px 'poppinsregular';
        margin-bottom: 15px;
    }
    .preview .description h4 {
        font: 12px/16px 'poppinsregular';
    }
}


@media screen and (max-width: 375px) {
    .menu_box {
        display: block;

    }
    .logo_box {
        margin-bottom: 30px;
    }
    .list_box{
        margin-left: 0;

    }
    .list_box ul {
        margin-left: 0;
    }

}

@media screen and (max-width: 360px) {
    .what_we_do .preview .description {
        padding: 15px;
    }
}

@media screen and (min-width: 780px) {
    body {
        width: inherit;
        z-index: 0; }

    nav{
        transform: translateX(0%);
        background: none;
        backdrop-filter: none;
        position: relative;
        top: inherit;
        right: inherit;
        height: inherit;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;

    }
    nav.nav-open {
        transform: translateX(0%);
    }
    nav .nav-links li {
        opacity: 1;
        transform: translateX(0%);
        transition: none;
        width: auto;
        display: block;


    }
    nav .nav-links {
        --link-height: auto;
        position: relative;
        /*width: inherit;*/
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    nav .menu-btn {
        display: none;
    }
    nav a {
        text-transform: inherit;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        text-decoration: none;
        user-select: none;
        color: #FFFFFF;
    }
    nav .sub-menu-btn{
        display: none;
    }

}
@media screen and (max-width: 783px) {
    header li:last-of-type{
        border-radius: 7px;

    }

    .tools .bg_tools{
        width: 100%;
        z-index: -1;
    }
    .tools{
        background: none;
    }
    .tools .central_box p,h2{
        color: #C0C0C0;
    }
    .central_box{
        width: 100%;
        margin: 0;
    }




}
