@import url(https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css);
@import url(https://resources/demos/style.css);
@import "owl.carousel.css";
@import "owl.theme.default.css";
@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.eot");
  src: url("../fonts/poppins-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular-webfont.ttf") format("truetype"), url("../fonts/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::-webkit-scrollbar {
  background: #181818;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #5a5e5e;
  border-radius: 3px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #181818;
  width: 100%;
  z-index: 1;
}

a {
  display: inline-block;
  text-decoration: none;
}

header {
  padding: 24px 25px;
  background-color: #181818;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 20;
  -webkit-transition: top 550ms cubic-bezier(0.8, 0, 0.33, 1);
  -ms-transition: top 550ms cubic-bezier(0.8, 0, 0.33, 1);
  transition: top 550ms cubic-bezier(0.8, 0, 0.33, 1);
}
header ul {
  list-style: none;
  align-items: center;
}
header ul li {
  margin-right: 32px;
  -webkit-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
@media screen and (max-width: 880px) {
  header ul li {
    margin-right: 20px;
  }
}
header ul li:first-of-type {
  margin-right: 56px;
}
@media screen and (max-width: 880px) {
  header ul li:first-of-type {
    margin-right: 20px;
  }
}
header ul li:first-of-type a {
  font: 13px/20px "poppinsregular";
}
header ul li:nth-child(4) {
  margin-right: 31px;
}
@media screen and (max-width: 880px) {
  header ul li:nth-child(4) {
    margin-right: 20px;
  }
}
header ul li:last-of-type {
  background: #FFFFFF;
  border-radius: 14px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
}
@media screen and (max-width: 880px) {
  header ul li:last-of-type {
    margin-right: 0px;
    padding: 10px 10px 10px 10px;
  }
}
header ul li:last-of-type a {
  font: 16px/20px "poppinsregular";
  letter-spacing: 0.4px;
  color: #000000;
  background-color: #FFFFFF;
}
header ul li:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
header ul li:hover a {
  color: #C4BAB0;
}
header ul li a {
  font: 15px/20px "poppinsregular";
  color: #FFFFFF;
}

.c_box {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-up {
  top: -82px;
}
.nav-up nav {
  top: -82px;
}
.nav-up nav.nav-open {
  top: 82px;
}

header.nav-up nav.nav-open {
  top: 0;
}

nav {
  --transition-time: 500ms;
  position: fixed;
  right: 0;
  top: 82px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 550ms cubic-bezier(0.8, 0, 0.33, 1);
  -ms-transition: 550ms cubic-bezier(0.8, 0, 0.33, 1);
  transition: 550ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 4;
  padding-top: 20px;
}
@media screen and (max-width: 680px) {
  nav {
    width: 100%;
  }
}
nav a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 3px;
  user-select: auto;
  color: #FFFFFF;
}
nav .nav-links {
  --link-height: 60px;
  position: relative;
  width: 100%;
}
nav .nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--link-height);
  list-style: none;
  opacity: 0;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  -ms-transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
  box-sizing: border-box;
  z-index: 8;
}
nav .nav-links li:hover {
  color: #FFFFFF;
}
nav .nav-links li a {
  pointer-events: none;
}
nav .nav-links .hover-el {
  position: absolute;
  width: 100%;
  height: var(--link-height);
  top: var(--y);
  left: var(--x);
  opacity: 0;
  background: radial-gradient(circle at var(--mousex) var(--mousey), rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
  -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
  z-index: 5;
}
nav .sub-menu {
  --link-height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
nav .sub-menu ol {
  list-style: none;
}
nav .sub-menu ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--link-height);
  -webkit-transition: all var(--transition-time) ease;
  -ms-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
}
nav .sub-menu ol li:hover {
  background: rgba(0, 0, 0, 0.25);
}
nav .sub-menu ol li a {
  font-size: 1.2rem;
  font-weight: normal;
}
nav .sub-menu ol li.off-menu {
  opacity: 0;
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}
nav .sub-menu ol li.on-menu {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
nav .sub-menu-btn {
  --icon-width: 40px;
  position: absolute;
  top: 6%;
  left: calc(80% + 6px);
  width: var(--icon-width);
  height: var(--icon-width);
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1);
  -ms-transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1);
  cursor: pointer;
  z-index: 8;
  pointer-events: none;
}
nav .sub-menu-btn .line {
  width: calc(var(--icon-width) - 28px);
  height: 2px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 12px 10px;
}
nav .sub-menu-btn .line__1 {
  transform-origin: left;
  -webkit-transform: rotate(-35deg) translate(-1px, 8px);
  -ms-transform: rotate(-35deg) translate(-1px, 8px);
  transform: rotate(-35deg) translate(-1px, 8px);
}
nav .sub-menu-btn .line__2 {
  transform-origin: left;
  -webkit-transform: rotate(35deg) translate(-1px, -8px);
  -ms-transform: rotate(35deg) translate(-1px, -8px);
  transform: rotate(35deg) translate(-1px, -8px);
}
nav .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-width: 25px;
  position: absolute;
  top: -69px;
  left: -20%;
  width: calc(var(--icon-width) + 25px);
  height: calc(var(--icon-width) + 25px);
  flex-direction: column;
  -webkit-transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.86, 0.02, 0.45, 0.99);
  -ms-transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.86, 0.02, 0.45, 0.99);
  transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.86, 0.02, 0.45, 0.99);
  cursor: pointer;
  z-index: 10;
}
@media screen and (max-width: 680px) {
  nav .menu-btn {
    left: -60px;
  }
}
nav .menu-btn .line {
  width: var(--icon-width);
  background: #fff;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
  -ms-transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}
nav .menu-btn .line__1 {
  width: var(--icon-width);
  transform-origin: left;
}
nav .menu-btn .line__2 {
  width: var(--icon-width);
  transform-origin: center;
}
nav .menu-btn .line__3 {
  width: var(--icon-width);
  transform-origin: right;
}
nav .menu-btn.close .line__1 {
  -webkit-transform: rotate(45deg) translate(2px, -3px);
  -ms-transform: rotate(45deg) translate(2px, -3px);
  transform: rotate(45deg) translate(2px, -3px);
}
nav .menu-btn.close .line__2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
nav .menu-btn.close .line__3 {
  -webkit-transform: rotate(45deg) translate(-2px, 3px);
  -ms-transform: rotate(45deg) translate(-2px, 3px);
  transform: rotate(45deg) translate(-2px, 3px);
}

nav.nav-open {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
nav.nav-open .menu-btn {
  left: 80%;
}
@media screen and (max-width: 680px) {
  nav.nav-open .menu-btn {
    left: calc(90% - 20px);
  }
}
nav.nav-open .nav-links li {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  pointer-events: all;
}

nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}

nav.sub-menu-open .nav-links .hover-el {
  opacity: 0;
}

.section_main {
  background-image: url("../images/background_main.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-bottom: 71px;
  box-sizing: border-box;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
@media screen and (max-width: 1320px) {
  .section_main {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 880px) {
  .section_main {
    height: 90vh;
  }
}
@media screen and (max-width: 680px) {
  .section_main {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url("../images/background_main_mob.jpg");
  }
}

.section_main__central_conteiner {
  max-width: 600px;
  text-align: center;
}
.section_main__central_conteiner h3 {
  font: 14px/20px "poppinsregular";
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 1px;
}
.section_main__central_conteiner h1 {
  font: 54px/59px "poppinsregular";
  color: #FFFFFF;
  margin-bottom: 18px;
}
.section_main__central_conteiner p {
  font: 14px/20px "poppinsregular";
  color: #C0C0C0;
}
@media screen and (max-width: 680px) {
  .section_main__central_conteiner p {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 428px) {
  .section_main__central_conteiner p {
    font: 12px/16px "poppinsregular";
  }
}

.fixed_information {
  position: absolute;
  bottom: 40px;
  right: 40px;
  list-style: none;
}
@media screen and (max-width: 428px) {
  .fixed_information {
    bottom: calc(5% - 8px);
    right: calc(50% - 108px);
  }
}
.fixed_information li {
  font: 12px/12px "poppinsregular";
  color: #FFFFFF;
  display: inline-flex;
  margin-left: 16px;
}
@media screen and (max-width: 428px) {
  .fixed_information li {
    font: 10px/10px "poppinsregular";
    margin-left: 10px;
  }
}
.fixed_information li:before {
  content: "";
  background-image: url("../images/shutter-icon-Light.svg");
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 6px;
}
@media screen and (max-width: 428px) {
  .fixed_information li:before {
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 3px;
  }
}
.fixed_information li:nth-child(2):before {
  content: "";
  background-image: url("../images/aperture-icon-Light.svg");
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 6px;
}
@media screen and (max-width: 428px) {
  .fixed_information li:nth-child(2):before {
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 3px;
  }
}
.fixed_information li:nth-child(3):before {
  content: "";
  background-image: url("../images/ISO-Icon-Light.svg");
  width: 32px;
  height: 16px;
  display: block;
  margin-right: 7px;
}
@media screen and (max-width: 428px) {
  .fixed_information li:nth-child(3):before {
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 3px;
  }
}
.fixed_information li:last-of-type:before {
  content: "";
  background-image: url("../images/Fill-1.svg");
  width: 10px;
  height: 16px;
  display: block;
  margin-right: 5px;
}
@media screen and (max-width: 428px) {
  .fixed_information li:last-of-type:before {
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 3px;
  }
}

.container {
  max-width: 1168px;
  margin: auto;
}

.what_we_do {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: #000000;
}
@media screen and (max-width: 1199px) {
  .what_we_do {
    padding: 60px 15px 50px 15px;
  }
}
@media screen and (max-width: 428px) {
  .what_we_do {
    padding: 60px 10px 50px 10px;
  }
}
.what_we_do h2 {
  font: 40px/42px "poppinsregular";
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 15px;
}
.what_we_do h5 {
  font: 23px/30px "poppinsregular";
  color: #C0C0C0;
  text-align: center;
  margin-bottom: 42px;
}
.what_we_do div h3 {
  text-align: center;
  margin-bottom: 42px;
  max-width: 320px;
  display: inline-flex;
  text-decoration: none;
  font: 16px/20px "poppinsregular";
  color: #000000;
  align-items: center;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 5px 11px 5px 4px;
  justify-content: space-between;
  -webkit-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.what_we_do div h3:after {
  content: "";
  width: 55px;
  height: 35px;
  background-color: black;
  border-radius: 10px;
  display: inline-block;
  margin-top: 5px;
}
.what_we_do div h3:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.what_we_do .preview {
  position: relative;
  max-width: 576px;
  max-height: 600px;
  overflow: hidden;
  -webkit-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
@media screen and (max-width: 1199px) {
  .what_we_do .preview {
    max-width: calc(576px - 15%);
    max-height: calc(600px - 15%);
  }
}
@media screen and (max-width: 925px) {
  .what_we_do .preview {
    max-width: calc(576px - 25%);
    max-height: calc(600px - 25%);
  }
}
@media screen and (max-width: 804px) {
  .what_we_do .preview {
    max-width: calc(576px - 30%);
    max-height: calc(600px - 30%);
  }
}
@media screen and (max-width: 768px) {
  .what_we_do .preview {
    max-width: 576px;
    max-height: 600px;
  }
}
.what_we_do .preview:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.what_we_do .preview img {
  display: block;
  width: 100%;
}
.what_we_do .preview .description {
  position: absolute;
  padding: 30px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.what_we_do .preview .description h4 {
  font: 14px/20px "poppinsregular";
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.what_we_do .preview .description p {
  font: 14px/20px "poppinsregular";
  color: #C0C0C0;
  margin-bottom: 22px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (max-width: 1199px) {
  .d-flex {
    gap: 10px;
  }
}

.ui-accordion .ui-accordion-header {
  margin: 30px auto;
  padding: 5px;
}
.ui-accordion .preview:hover {
  transform: none;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
  border: none;
  background-color: black;
}
@media screen and (max-width: 804px) {
  .ui-accordion .ui-accordion-content {
    overflow: inherit;
  }
}
.ui-accordion .d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-right, .ui-corner-br {
  border: none;
  background: none;
}

.ui-widget-content {
  border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 0;
  font-weight: normal;
  color: #FFFFFF;
}

:focus-visible {
  outline: none;
}

.state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header-ui-state:hover, .ui-state-focus, .ui-widget-content.ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  border: none;
  background: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border-radius: 9px;
  background: #181A1A;
}

.ui-icon {
  display: none;
}

.past_clients {
  background-color: black;
  padding: 113px 0 140px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .past_clients {
    padding-right: 55px;
    padding-left: 55px;
  }
}
.past_clients h2 {
  font: 40px/42px "poppinsregular";
  color: #FFFFFF;
  margin-bottom: 15px;
}
.past_clients h3 {
  font: 24px/30px "poppinsregular";
  color: #C0C0C0;
  margin-bottom: 82px;
}
.past_clients a {
  max-width: 128px;
}

.box_p_clients {
  max-width: 1076px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owl-stage-outer {
  position: relative;
}

.owl-stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -10px;
  top: calc(50% - 15px);
}
.owl-nav .owl-prev:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f053";
  color: #FFFFFF;
  font-size: 30px;
}
.owl-nav .owl-next {
  position: absolute;
  right: -10px;
  top: calc(50% - 15px);
}
.owl-nav .owl-next:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f054";
  color: #FFFFFF;
  font-size: 30px;
}

.owl-dots {
  display: none;
}

.section_help {
  background-color: black;
  padding: 113px 0 108px;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .section_help {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.section_help h2 {
  font: 40px/42px "poppinsregular";
  color: #FFFFFF;
  max-width: 571px;
  margin: auto;
}
.section_help h3 {
  font: 24px/30px "poppinsregular";
  color: #C0C0C0;
  margin-top: 15px;
  margin-bottom: 22px;
}

.button {
  background: #FFFFFF;
  border-radius: 14px;
  padding: 5px 11px 5px 4px;
  display: inline-flex;
  justify-content: space-between;
  -webkit-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.button:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.button a {
  display: inline-flex;
  text-decoration: none;
  font: 16px/20px "poppinsregular";
  color: #000000;
  margin: auto;
  align-items: center;
}
.button a:before {
  content: "";
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 40%;
  margin-right: 7px;
  align-items: center;
}

.photo_container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  align-items: center;
}

.content_container {
  max-width: 298px;
  margin-right: 60px;
  margin-left: 60px;
}
.content_container h3 {
  font: 14px/20px "poppinsregular";
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content_container p {
  font: 14px/20px "poppinsregular";
  color: #C0C0C0;
}

.fuji {
  background-image: url("../images/bg-fuji.jpg");
  background-attachment: fixed;
}
@media screen and (max-width: 1320px) {
  .fuji {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 680px) {
  .fuji {
    background-image: url("../images/bg-fuji.webp");
  }
}

.leafs {
  background-image: url("../images/bg-leafs.jpg");
  background-attachment: fixed;
}
@media screen and (max-width: 1320px) {
  .leafs {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 680px) {
  .leafs {
    background-image: url("../images/bg-leafs.webp");
  }
}

.himalayas {
  background-image: url("../images/bg-himalayas.jpg");
  background-attachment: fixed;
}
@media screen and (max-width: 1320px) {
  .himalayas {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 680px) {
  .himalayas {
    background-image: url("../images/bg-himalayas.webp");
  }
}

.tools {
  min-height: 540px;
  background-color: #000000;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 100px;
}
@media screen and (max-width: 1320px) {
  .tools {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 680px) {
  .tools {
    padding-left: 45px;
    padding-right: 25px;
  }
}
.tools h3 {
  font: 14px/20px "poppinsregular";
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
  margin-top: 20px;
}
.tools h2 {
  font: 28px/32px "poppinsregular";
  color: #FFFFFF;
  margin-bottom: 14px;
  max-width: 514px;
}
@media screen and (max-width: 1199px) {
  .tools .central_box {
    margin: inherit;
    width: calc(50% - 20px);
  }
}
.tools .central_box p {
  font: 14px/20px "poppinsregular";
  color: #FFFFFF;
  margin-bottom: 20px;
  max-width: 514px;
}
.tools .bg_tools {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/bg-sweden.jpg");
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 680px) {
  .tools .bg_tools {
    background-image: url("../images/bg-sweden.webp");
  }
}

.central_box {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

footer {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1320px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 680px) {
  footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}
footer form {
  display: flex;
  box-sizing: border-box;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  padding: 7px 6px 7px 7px;
  align-items: center;
  max-width: 458px;
  width: 100%;
}
footer form input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 38px;
  margin-right: 6px;
  font: 20px "poppinsregular";
}
footer form .button_submit {
  background: #000000;
  border-radius: 11px;
  max-width: 63px;
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
}

.menu_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.menu_box .logo_box {
  max-width: 584px;
}
.menu_box .logo_box p {
  font: 13px/20px "poppinsregular";
  color: #C0C0C0;
  margin-top: 20px;
}
.menu_box .list_box {
  display: flex;
  justify-content: left;
}
@media screen and (max-width: 1199px) {
  .menu_box .list_box {
    margin-left: 100px;
  }
}
@media screen and (max-width: 880px) {
  .menu_box .list_box {
    display: block;
    justify-content: left;
    margin-left: 100px;
  }
}
@media screen and (max-width: 680px) {
  .menu_box .list_box {
    margin-left: 15px;
  }
}
@media screen and (max-width: 577px) {
  .menu_box .list_box {
    width: 219px;
  }
}
@media screen and (max-width: 428px) {
  .menu_box .list_box {
    display: block;
    justify-content: left;
  }
}
.menu_box .list_box a {
  font: 14px/20px "poppinsregular";
  color: #FFFFFF;
}
@media screen and (max-width: 428px) {
  .menu_box .list_box a {
    font: 12px/16px "poppinsregular";
  }
}
.menu_box .list_box ul {
  width: 221px;
  margin-left: 16px;
  list-style: none;
}
@media screen and (max-width: 880px) {
  .menu_box .list_box ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 428px) {
  .menu_box .list_box ul {
    margin-bottom: 30px;
    max-width: 150px;
  }
}
.menu_box .list_box ul li {
  margin-bottom: 10px;
}
@media screen and (max-width: 428px) {
  .menu_box .list_box ul li {
    margin-bottom: 5px;
  }
}
.menu_box .list_box ul li:first-of-type {
  font: 14px/20px "poppinsregular";
  color: #C0C0C0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subscribe_box {
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 834px) {
  .subscribe_box {
    display: block;
  }
}
.subscribe_box h3 {
  font: 14px/20px "poppinsregular";
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 834px) {
  .subscribe_box h3 {
    margin-bottom: 10px;
  }
}
.subscribe_box p {
  font: 13px/20px "poppinsregular";
  color: #C0C0C0;
}
@media screen and (max-width: 834px) {
  .subscribe_box p {
    margin-bottom: 20px;
  }
}

.social_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 577px) {
  .social_box {
    display: block;
    text-align: center;
  }
}
.social_box p {
  font: 14px/20px "poppinsregular";
  color: #C0C0C0;
}
@media screen and (max-width: 577px) {
  .social_box p {
    margin-bottom: 25px;
  }
}
.social_box .social_items {
  display: flex;
  list-style: none;
  align-items: center;
}
@media screen and (max-width: 577px) {
  .social_box .social_items {
    justify-content: center;
  }
}
.social_box .social_items li:first-of-type {
  margin-right: 20px;
}
.social_box .social_items li:nth-child(2) {
  margin-right: 26px;
}

/*# sourceMappingURL=style_preproc.css.map */
