@import url(https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css);
@import url(https://resources/demos/style.css);
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mixin";

$main_font:'poppinsregular';
$f_color1:#000000;
$f_color2:#FFFFFF;
$f_color3:#C0C0C0;

$bg_color1:#000000;
$bg_color2:#FFFFFF;
$bg_color3:#181818;

$hov_color1: #C4BAB0;
$hov_color2: #FFFFFF;
$hov_bg_color1: rgba(0, 0, 0, 0.25);
$hov_bg_color2: #181A1A;
$hov_bg_color3: rgba(0, 0, 0, 0.45);
$hov_bg_color4: rgba(0, 0, 0, 0.15);



@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/poppins-regular-webfont.eot');
  src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
  url('../fonts/poppins-regular-webfont.woff') format('woff'),
  url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
  url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::-webkit-scrollbar {
  background: $bg_color3;
  width: 8px;


}
::-webkit-scrollbar-thumb {
  background: #5a5e5e;
  border-radius: 3px;
}

*{
  padding: 0;
  margin: 0;

}

body{
  background-color: $bg_color3;
  width: 100%;
  z-index: 1;
  @include min-screen (880px) {
    width: inherit;
    z-index: 1;
  }
}

a{
  display: inline-block;
  text-decoration: none;
}



header{
  padding: 24px 25px;
  background-color: $bg_color3;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 20;
  @include transition(top 550ms cubic-bezier(0.8, 0, 0.33, 1));

  ul{
    list-style: none;
    align-items: center;
    li{
      margin-right: 32px;
      @include transition(0.7s);
      @include max-screen (880px) {
        margin-right: 20px;
      }
      &:first-of-type{
        margin-right: 56px;
        @include max-screen (880px) {
          margin-right: 20px;
        }
        a{
          font: 13px/20px $main_font;
        }
      }
      &:nth-child(4){
        margin-right: 31px;
        @include max-screen (880px) {
          margin-right: 20px;
        }
      }
      &:last-of-type{
        background: $bg_color2;
        border-radius: 14px;
        margin-right: 20px;
        padding: 10px 20px 10px 20px;
        @include max-screen (880px) {
          margin-right: 0px;
          padding: 10px 10px 10px 10px;
        }
        @include max-screen (783px) {
          border-radius: 7px;
        }
        a{
          font: 16px/20px $main_font;
          letter-spacing: 0.4px;
          color: $f_color1;
          background-color: $bg_color2;
        }
      }
      &:hover{
        @include transform(scale(1.05));
        a{
          color: $hov_color1;
        }
      }
      a{
        font: 15px/20px $main_font;
        color: $f_color2;
      }
    }
  }
}
.c_box{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-up {
  top: -82px;
  nav{
    top: -82px;
  }
  nav.nav-open{
    top: 82px;
  }
}
header.nav-up nav.nav-open{
  top: 0;
}

nav {
  --transition-time: 500ms;
  position: fixed;
  right: 0;
  top: 82px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  background: $hov_bg_color3;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  @include transform(translateX(100%));
  @include transition(550ms cubic-bezier(0.8, 0, 0.33, 1));
  z-index: 4;
  padding-top: 20px;
  @include max-screen (680px) {
    width: 100%;
  }
  @include min-screen (880px) {
    transform: translateX(0%);
    background: none;
    backdrop-filter: none;
    position: relative;
    top: inherit;
    right: inherit;
    height: inherit;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 3px;
    user-select: auto;
    color: $f_color2;
    @include min-screen (880px) {
      text-transform: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      text-decoration: none;
      user-select: none;
      color: #FFFFFF;
    }
  }
  .nav-links {
    --link-height: 60px;
    position: relative;
    width: 100%;
    @include min-screen (880px) {
      --link-height: auto;
      position: relative;
      display: flex;
      text-align: center;
      justify-content: space-between;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: var(--link-height);
      list-style: none;
      opacity: 0;
      @include transform(translateX(50%));
      @include transition(all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9));
      transition-delay: calc(30ms + var(--delay));
      cursor: pointer;
      box-sizing: border-box;
      z-index: 8;
      @include min-screen (880px) {
        opacity: 1;
        transform: translateX(0%);
        transition: 0.7s;
        transition-delay: inherit;
        width: auto;
        display: block;
      }
      &:hover {
        color: $hov_color2;
      }
      a {
        pointer-events: none;
      }
    }
    .hover-el {
      position: absolute;
      width: 100%;
      height: var(--link-height);
      top: var(--y);
      left: var(--x);
      opacity: 0;
      background: radial-gradient(circle at var(--mousex) var(--mousey), $hov_bg_color4 0%, $hov_bg_color3 100%);
      @include transition(all 200ms cubic-bezier(0.215, 0.61, 0.355, 1));
      pointer-events: none;
      z-index: 5;
    }
  }
  .sub-menu {
    --link-height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    @include transform(translateY(50%));
    ol {
      list-style: none;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--link-height);
        @include transition(all var(--transition-time) ease);
        transition-delay: calc(30ms + var(--delay));
        cursor: pointer;
        &:hover {
          background: $hov_bg_color1;
        }
        a {
          font-size: 1.2rem;
          font-weight: normal;
        }
      }
      li.off-menu {
        opacity: 0;
        @include transform(translateY(30%));
      }
      li.on-menu {
        opacity: 1;
        @include transform(translateY(0%)); }
    }
  }
  .sub-menu-btn {
    --icon-width: 40px;
    position: absolute;
    top: 6%;
    left: calc(80% + 6px);
    width: var(--icon-width);
    height: var(--icon-width);
    background: $hov_bg_color1;
    border-radius: 5px;
    opacity: 0;
    @include transform(translateX(-100%));
    @include transition(all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1));
    cursor: pointer;
    z-index: 8;
    pointer-events: none;
    @include min-screen (880px) {
      display: none;
    }
    .line {
      width: calc(var(--icon-width) - 28px);
      height: 2px;
      background: #fff;
      display: flex;
      flex-direction: column;
      margin: 12px 10px;
    }
    .line__1 {
      transform-origin: left;
      @include transform(rotate(-35deg) translate(-1px, 8px));
    }
    .line__2 {
      transform-origin: left;
      @include transform(rotate(35deg) translate(-1px, -8px));
    }

  }
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: -69px;
    left: -20%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    @include transition(all calc(100ms + var(--transition-time)) cubic-bezier(0.86, 0.02, 0.45, 0.99));
    cursor: pointer;
    z-index: 10;
    @include max-screen (680px) {
      left: -60px;
    }
    @include min-screen (880px) {
      display: none;
    }
    .line {
      width: var(--icon-width);
      background: #fff;
      height: 2px;
      margin: 3px 0;
      @include transition(all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1));
    }
    .line__1 {
      width: var(--icon-width);
      transform-origin: left;
    }
    .line__2 {
      width: var(--icon-width);
      transform-origin: center;
    }
    .line__3 {
      width: var(--icon-width);
      transform-origin: right;
    }

  }
  .menu-btn.close .line__1 {
    @include transform(rotate(45deg) translate(2px, -3px));
  }
  .menu-btn.close .line__2 {
    @include transform(rotate(-45deg));
  }
  .menu-btn.close .line__3 {
    @include transform(rotate(45deg) translate(-2px, 3px));
  }
}
nav.nav-open {
  @include transform(translateX(0%));
  @include min-screen (880px) {
    @include transform(translateX(0%));
  }
  .menu-btn {
    left: 80%;
    @include max-screen (680px) {
      left: calc(90% - 20px);
    }
  }
  .nav-links li {
    @include transform(translateX(0));
    opacity: 1;

  }
}
nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  @include transform(translateX(0));
  pointer-events: all; }
nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  @include transform(translateY(-10%)); }
nav.sub-menu-open .nav-links .hover-el {
  opacity: 0; }
.section_main{
  background-image: url("../images/background_main.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-bottom: 71px;
  box-sizing: border-box;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  @include max-screen(1320px){
    background-attachment: scroll;
  }
  @include max-screen (880px) {
    height: 90vh;
  }
  @include max-screen (680px) {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url("../images/background_main_mob.jpg");
  }
  @include max-screen (390px) {
    height: 85vh;
  }
}
.section_main__central_conteiner{
  max-width: 600px;
  text-align: center;
  h3{
    font: 14px/20px $main_font;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $f_color3;
    margin-bottom: 1px;
    @include max-screen (390px) {
      font: 12px/18px $main_font;
    }
  }
  h1{
    font: 54px/59px $main_font;
    color: $f_color2;
    margin-bottom: 18px;
    @include max-screen (390px) {
      font: 36px/38px $main_font;
      margin-bottom: 15px;
    }
  }
  p{
    font: 14px/20px $main_font;
    color: $f_color3;
    @include max-screen (680px) {
      margin-right: 15px;
      margin-left: 15px;
    }
    @include max-screen (428px) {
      font: 12px/16px $main_font;
    }
  }
}
.fixed_information{
  position: absolute;
  bottom: 40px;
  right: 40px;
  list-style: none;
  @include max-screen (428px) {
    bottom: calc(5% - 8px);
    right: calc(50% - 108px);
  }
  li {
    font: 12px/12px $main_font;
    color: $f_color2;
    display: inline-flex;
    margin-left: 16px;
    @include max-screen (428px) {
      font: 10px/10px $main_font;
      margin-left: 10px;
    }
    &:before{
      content: "";
      background-image: url("../images/shutter-icon-Light.svg");
      width: 16px;
      height: 16px;
      display: block;
      margin-right: 6px;
      @include max-screen (428px) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
      }
    }
    &:nth-child(2):before{
      content: "";
      background-image: url("../images/aperture-icon-Light.svg");
      width: 16px;
      height: 16px;
      display: block;
      margin-right: 6px;
      @include max-screen (428px) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
      }
    }
    &:nth-child(3):before{
      content: "";
      background-image: url("../images/ISO-Icon-Light.svg");
      width: 32px;
      height: 16px;
      display: block;
      margin-right: 7px;
      @include max-screen (428px) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
      }
    }
    &:last-of-type:before{
      content: "";
      background-image: url("../images/Fill-1.svg");
      width: 10px;
      height: 16px;
      display: block;
      margin-right: 5px;
      @include max-screen (428px) {
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 3px;
      }
    }
  }
}

.container{
  max-width: 1168px;
  margin: auto;
}


.what_we_do{
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: $bg_color1;
  @include max-screen(1199px){
    padding: 60px 15px 50px 15px;
  }
  @include max-screen(428px){
    padding: 60px 10px 50px 10px;
  }
  h2{
    font: 40px/42px $main_font;
    color: $f_color2;
    text-align: center;
    margin-bottom: 15px;
    @include max-screen (390px) {
      font: 36px/38px $main_font;
    }
  }
  h5{
    font: 23px/30px $main_font;
    color: $f_color3;
    text-align: center;
    margin-bottom: 42px;
  }
  div h3{
    //font: 23px/30px 'poppinsregular';
    text-align: center;
    margin-bottom: 42px;
    max-width: 320px;
    display: inline-flex;
    text-decoration: none;
    font: 16px/20px $main_font;
    color: $f_color1;
    //margin: auto;
    align-items: center;
    background: $bg_color2;
    border-radius: 14px;
    padding: 5px 11px 5px 4px;
    justify-content: space-between;
    @include transition(0.7s);

    &:after{
      content: "";
      width: 55px;
      height: 35px;
      background-color: black;
      border-radius: 10px;
      display: inline-block;
      margin-top: 5px;
    }
    &:hover{
      @include transform(scale(1.02));

    }
  }
  .preview{
    position: relative;
    max-width: 576px;
    max-height: 600px;
    overflow: hidden;
    @include transition(0.7s);
    @include max-screen (1199px) {
      max-width: calc(576px - 15%);
      max-height: calc(600px - 15%);
    }
    @include max-screen (925px) {
      max-width: calc(576px - 25%);
      max-height: calc(600px - 25%);
    }
    @include max-screen (804px) {
      max-width: calc(576px - 30%);
      max-height: calc(600px - 30%);
    }
    @include max-screen (768px) {
      max-width: 576px;
      max-height: 600px;
    }
    &:hover{
      @include transform(scale(1.02));
    }
    img{
      display: block;
      width: 100%;

    }
    .description{
      position: absolute;
      padding: 30px;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      @include max-screen (360px) {
        padding: 15px;
      }
      h4{
        font: 14px/20px $main_font;
        color: $f_color2;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include max-screen (390px) {
          font: 12px/16px $main_font;
        }
      }
      p{
        font: 14px/20px $main_font;
        color: $f_color3;
        margin-bottom: 22px;
        @include max-screen (390px) {
          font: 12px/16px $main_font;
          margin-bottom: 15px;
        }
      }
    }
  }
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  @include max-screen (1199px) {
    gap: 10px;
  }
}
.ui-accordion {
  .ui-accordion-header {
    margin: 30px auto;
    padding: 5px;
  }
  .preview:hover{
    transform: none;
  }
  .ui-accordion-content {
    padding: 0;
    border: none;
    background-color: black;
    @include max-screen (804px) {
      overflow: inherit;
    }

  }
  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-right, .ui-corner-br {
  border: none;
  background: none;
}
.ui-widget-content {
  border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 0;
  font-weight: normal;
  color: $f_color2;
}
:focus-visible {
  outline: none;
}
.state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header-ui-state:hover, .ui-state-focus, .ui-widget-content.ui-state-focus, .ui-widget-header .ui-state-focus,.ui-button:hover, .ui-button:focus{
  border: none;
  background: none;

}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border-radius: 9px;
  background: $hov_bg_color2;
}
.ui-icon {
  display: none;

}


.past_clients{
  background-color: black;
  padding: 113px 0 140px;
  text-align: center;
  @include max-screen(1199px){
    padding-right: 55px;
    padding-left: 55px;
  }
  @include max-screen (428px) {
    padding-right: 25px;
    padding-left: 25px;
  }
  h2{
    font: 40px/42px $main_font;
    color: $f_color2;
    margin-bottom: 15px;
    @include max-screen (390px) {
      font: 36px/38px $main_font;
    }
  }
  h3{
    font: 24px/30px $main_font;
    color: $f_color3;
    margin-bottom: 82px;
    @include max-screen (390px) {
      font: 20px/26px 'poppinsregular';
      max-width: 300px;
      margin-bottom: 82px;
      display: inline-block;
    }
  }
  a{
    max-width: 128px;
  }
}
.box_p_clients{
  max-width: 1076px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.owl-stage-outer{
  position: relative;

}
.owl-stage{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.owl-nav {
  .owl-prev {
    position: absolute;
    left: -10px;
    top: calc(50% - 15px);
    &:before{
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f053";
      color: $f_color2;
      font-size: 30px;
    }
  }
  .owl-next{
    position: absolute;
    right: -10px;
    top: calc(50% - 15px);
    &:before{
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f054";
      color: $f_color2;
      font-size: 30px;
    }

  }
}
.owl-dots{
  display: none;
}


.section_help{
  background-color: black;
  padding: 113px 0 108px;
  text-align: center;
  @include max-screen (680px) {
    padding-right: 15px;
    padding-left: 15px;
  }
  h2{
    font: 40px/42px $main_font;
    color: $f_color2;
    max-width: 571px;
    margin: auto;
    @include max-screen (390px) {
      font: 36px/38px $main_font;
    }
  }
  h3{
    font: 24px/30px $main_font;
    color: $f_color3;
    margin-top: 15px;
    margin-bottom: 22px;
  }
}

.button{
  background: $bg_color2;
  border-radius: 14px;
  padding: 5px 11px 5px 4px;
  display: inline-flex;
  justify-content: space-between;
  @include transition(0.7s);
  &:hover{
    @include transform(scale(1.02));
  }
  a{
    display: inline-flex;
    text-decoration: none;
    font: 16px/20px $main_font;
    color: $f_color1;
    margin: auto;
    align-items: center;
    &:before{
      content: "";
      width: 35px;
      height: 35px;
      background-color: black;
      border-radius: 40%;
      margin-right: 7px;
      align-items: center;
    }
  }
}

.photo_container{
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  align-items: center;

}
.content_container{
  max-width: 298px;
  margin-right: 60px;
  margin-left: 60px;
  h3{
    font: 14px/20px $main_font;
    color: $f_color2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p{
    font: 14px/20px $main_font;
    color: $f_color3;
  }
}
.fuji {
  background-image: url('../images/bg-fuji.jpg');
  background-attachment: fixed;
  @include max-screen(1320px){
    background-attachment: scroll;
  }
  @include max-screen (680px) {
    background-image: url('../images/bg-fuji.webp');
  }
  .fixed_information{
    @include max-screen (428px) {
      bottom: calc(5% - 8px);
      right: calc(50% - 94px);
    }
  }
}
.leafs {
  background-image: url('../images/bg-leafs.jpg');
  background-attachment: fixed;
  @include max-screen(1320px){
    background-attachment: scroll;
  }
  @include max-screen (680px) {
    background-image: url('../images/bg-leafs.webp');
  }
  .fixed_information{
    @include max-screen (428px) {
      bottom: calc(5% - 8px);
      right: calc(50% - 118px);
    }
  }
}
.himalayas {
  background-image: url('../images/bg-himalayas.jpg');
  background-attachment: fixed;
  @include max-screen(1320px){
    background-attachment: scroll;
  }
  @include max-screen (680px) {
    background-image: url('../images/bg-himalayas.webp');
  }
  .fixed_information{
    @include max-screen (428px) {
      bottom: calc(5% - 8px);
      right: calc(50% - 92px);
    }
  }
}


.tools{
  min-height: 540px;
  background-color: $bg_color1;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 100px;
  @include max-screen(1320px){
    padding-left: 50px;
    padding-right: 50px;
  }
  @include max-screen(680px){
    padding-left: 45px;
    padding-right: 25px;
  }
  @include max-screen (783px) {
    background: none;
  }

  h3{
    font: 14px/20px $main_font;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $f_color3;
    margin-bottom: 6px;
    margin-top: 20px;
    @include max-screen (428px) {
      font: 12px/16px $main_font;
    }
  }
  h2{
    font: 28px/32px $main_font;
    color: $f_color2;
    margin-bottom: 14px;
    max-width: 514px;
    @include max-screen (428px) {
      font: 24px/28px $main_font;
    }

  }
  .central_box {
    @include max-screen(1199px){
      margin: inherit;
      width: calc(50% - 20px);
      @include max-screen (783px) {
        width: 100%;
        margin: 0;
      }
    }
    p {
      font: 14px/20px $main_font;
      color: $f_color2;
      margin-bottom: 20px;
      max-width: 514px;
      @include max-screen (428px) {
        font: 12px/16px $main_font;
      }
      @include max-screen (783px) {
        color: $f_color3;
      }
    }
  }
  .bg_tools {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/bg-sweden.jpg");
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    @include max-screen (680px) {
      background-image: url("../images/bg-sweden.webp");
    }
    @include max-screen (783px) {
      width: 100%;
      z-index: -1;
    }
  }
}
.central_box{
  max-width: 1440px;
  width: 100%;
  margin: auto;
}


footer{
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
  @include max-screen(1320px){
    padding-left: 50px;
    padding-right: 50px;
  }
  @include max-screen(680px){
    padding-left: 25px;
    padding-right: 25px;
  }
  form{
    display: flex;
    box-sizing: border-box;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 7px 6px 7px 7px;
    align-items: center;
    max-width: 458px;
    width: 100%;
    input{
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      height: 38px;
      margin-right: 6px;
      font: 20px $main_font;


    }
    .button_submit{
      background: $bg_color1;
      border-radius: 11px;
      max-width: 63px;
      width: 100%;
      height: 30px;
      border: none;
      cursor: pointer;
    }

  }
}
.menu_box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  @include max-screen (375px) {
    display: block;
  }
  .logo_box {
    max-width: 584px;
    @include max-screen (375px) {
      margin-bottom: 30px;
    }
    p {
      font: 13px/20px $main_font;
      color: $f_color3;
      margin-top: 20px;
    }
  }
  .list_box{
    display: flex;
    justify-content: left;
    @include max-screen(1199px){
      margin-left: 100px;
    }
    @include max-screen (880px) {
      display: block;
      justify-content: left;
      margin-left: 100px;
    }
    @include max-screen (680px) {
      margin-left: 15px;
    }
    @include max-screen (577px) {
      width: 219px;
    }
    @include max-screen (428px) {
      display: block;
      justify-content: left;
    }
    @include max-screen (375px) {
      margin-left: 0;
    }
    a{
      font: 14px/20px $main_font;
      color: $f_color2;
      @include max-screen (428px) {
        font: 12px/16px $main_font;
      }
    }
    ul{
      width: 221px;
      margin-left: 16px;
      list-style: none;
      @include max-screen (880px) {
        margin-bottom: 30px;
      }
      @include max-screen (428px) {
        margin-bottom: 30px;
        max-width: 150px;
      }
      @include max-screen (375px) {
        margin-left: 0;
      }
      li{
        margin-bottom: 10px;
        @include max-screen (428px) {
          margin-bottom: 5px;
        }
        &:first-of-type{
          font: 14px/20px $main_font;
          color: $f_color3;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
    }
  }
}
.subscribe_box{
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 2px solid $bg_color2;
  border-bottom: 2px solid $bg_color2;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-screen (834px) {
    display: block;
  }
  h3{
    font: 14px/20px $main_font;
    color: $f_color2;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include max-screen (834px) {
      margin-bottom: 10px;
    }
  }
  p{
    font: 13px/20px $main_font;
    color: $f_color3;
    @include max-screen (834px) {
      margin-bottom: 20px;
    }
  }
}
.social_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-screen (577px) {
    display: block;
    text-align: center;
  }
  p{
    font: 14px/20px $main_font;
    color: $f_color3;
    @include max-screen (577px) {
      margin-bottom: 25px;
    }
  }
  .social_items{
    display: flex;
    list-style: none;
    align-items: center;
    @include max-screen (577px) {
      justify-content: center;
    }
    li {
      &:first-of-type {
        margin-right: 20px;
      }
      &:nth-child(2){
        margin-right: 26px;
      }
    }
  }
}
