$main_font:'poppinsregular';
$main_color:#000000;
$white_color:#FFFFFF;

header{
  padding: 24px 25px;
  background-color: #181818;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 20;
  top: 0;
  transition: top 550ms cubic-bezier(0.8, 0, 0.33, 1);
}
.nav-up {
  top: -82px;
}
.nav-up nav{
  top: -82px;

}

.nav-up nav.nav-open{
  top: 82px;

}
header, .nav-up nav.nav-open{
  top: 0;


}

header ul{
  list-style: none;
  align-items: center;
}
header li{
  margin-right: 32px;
  transition: 0.7s;
}
header li:hover{
  transform: scale(1.05);
}
header ul li:hover a{
  color: #C4BAB0;
}
header li:last-of-type{
  background: $white_color;
  border-radius: 14px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
}
header li:last-of-type a{
  font: 16px/20px 'poppinsregular';
  letter-spacing: 0.4px;
  color: #000000;
  background-color: #FFFFFF;
}
header li:nth-child(4){
  margin-right: 31px;
}
header li:first-of-type{
  margin-right: 56px;
}
header li:first-of-type a{
  font: 13px/20px 'poppinsregular';
}
header li a{
  font: 15px/20px 'poppinsregular';
  color: #FFFFFF;
}
