@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;

}
a{
    display: inline-block;
    text-decoration: none;
}
header{
    padding: 24px;
    background-color: #181818;
}
header div{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header li{
    margin-right: 32px;
    transition: 0.2s;
}
header li:hover{
    transform: scale(1.15);
}
header ul li:hover a{
    color: #af9595;
}
header li:last-of-type{
    background: #FFFFFF;
    border-radius: 14px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}
header li:last-of-type a{
    font: 16px/20px 'poppinsregular';
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
}
header li:nth-child(4){
    margin-right: 31px;
}
header li:first-of-type{
    margin-right: 56px;
}
header li:first-of-type a{
    font: 13px/20px 'poppinsregular';
}
header li a{
    font: 15px/20px 'poppinsregular';
    color: #FFFFFF;
}
.section_main{
    background-image: url("../images/background_main.jpg");
    background-size: cover;
    height: 100vh;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.section_main__central_conteiner{
    max-width: 600px;
    text-align: center;

}
.section_main__central_conteiner h3{
    font: 14px/20px 'poppinsregular';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.section_main__central_conteiner h1{
    font: 54px/59px 'poppinsregular';
    color: #FFFFFF;
    margin-bottom: 18px;
}
.section_main__central_conteiner p{
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
}
.fixed_information li{
    font: 12px/12px 'poppinsregular';
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;

}
.fixed_information{
    position: absolute;
    bottom: 41px;
    right: 40px;
    list-style: none;
}
.fixed_information li:before{
    content: "";
    background-image: url("../images/shutter-icon-Light.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:nth-child(2):before{
    content: "";
    background-image: url("../images/aperture-icon-Light.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:nth-child(3):before{
    content: "";
    background-image: url("../images/ISO-Icon-Light.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}
.fixed_information li:last-of-type:before{
    content: "";
    background-image: url("../images/Fill-1.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}
.past_clients{
    background-color: black;
    padding: 113px 0 140px;
    text-align: center;
}
.past_clients h2{
    font: 40px/42px 'poppinsregular';
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients h3{
    font: 24px/30px 'poppinsregular';
    color: #C0C0C0;
    margin-bottom: 82px;
}
.box_p_clients{
    max-width: 1076px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_help{
    background-color: black;
    padding: 113px 0 108px;
    text-align: center;
}
.section_help h2{
    font: 40px/42px 'poppinsregular';
    color: #FFFFFF;
    max-width: 571px;
    margin: auto;
}
.section_help h3{
    font: 24px/30px 'poppinsregular';
    color: #C0C0C0;
    margin-top: 15px;
    margin-bottom: 22px;
}
.button{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 4px 0 4px 0;
    max-width: 154px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
}
.button:hover{
    transform: scale(1.15);
}
.button a{
    display: inline-flex;
    text-decoration: none;
    font: 16px/20px 'poppinsregular';
    color: #000000;
    margin: auto;
    align-items: center;
}
.button a:before{
    content: "";
    width: 35px;
    height: 35px;
    /*background-image: url('../images/circle.svg');*/
    background-color: black;
    border-radius: 40%;
    /*background-size: 35px 35px;*/
    margin-right: 9px;
    /*display: inline-flex;*/
    align-items: center;


}
